<div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card h-25 ">
          <%= image_tag "escape_room.jpeg", alt: "Le Wagon"%>  <div class="card-body">
          <h1 class="card-title text-center ">
            <%= link_to list.name, list_path(list), class: "list-link" %>
          </h1>
        </div>
      </div>
    </div>
  <% end %>
<div class="card">
  <button type="button" class="btn btn-success my-animated-button">
    <h1 class="text-center card-title mb-6">
      <i class="fa-solid fa-plus" style="color: white;"></i>
      <%= link_to "New list", new_list_path, class: "text-decoration-none", style: "color: white;"%>
    </h1>
  </button>
</div>

</div>
