<div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card h-25 ">
          <%= image_tag "escape_room.jpeg", alt: "Le Wagon"%>  <div class="card-body">
          <h1 class="card-title text-center "><%= list.name %></h1>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card "><h1 class="text-center card-title mb-6 ">New Card<i class="fa-solid fa-plus"></i></h1></div>
  <%= link%>
</div>
