<div class="container">
  <h1><%= @list.name %></h1>  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
          <%= image_tag movie.poster_url, alt: "Le Wagon", width: 200 %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
